@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition:
    background-color 300ms ease,
    border-color 300ms ease,
    color 300ms ease,
    fill 300ms ease,
    stroke 300ms ease;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

 